<div class="sidebar-buttons d-flex justify-content-center">
  <div class="btn-toggle" data-action="click->sidebar#toggle_sidebar_left">
    <%= image_tag "icons/sidebar_left_collapse_icon.svg",
                      alt: "Slide Sidebar Left",
                      width: "40",
                      height: "40",
                      data: { 'sidebar-target' => 'changeIconLeft' }
                      %>
  </div>
</div>
<h4 class="mt-3"><%= site.name %></h4>
<h6 class="mb-3"><%= site.description %></h6>
<div class="sidebar-dashboard-buttons d-flex flex-column align-items-center">
  <%= link_to "Editsite info", edit_site_path(site), class: "btn-green-lg"%>
  <%= link_to "Editsite info", edit_site_path(site), class: "btn-green-lg"%>
  <%= link_to "Deletesite",
        site_path(site),
        class: "btn-green-lg",
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  <%= link_to "Back to sites", root_path, class: "btn-green-lg"%>
</div>
<hr>
<h2>Add new guild</h2>
<%= render "guilds/form", site: @site, guild: @guild %>
