<div class="dashboard" data-controller="dashboard">
  <!-- Renders the sidebar -->
  <%= render "sites/dashboard/sidebar_buttons"%>
  <!-- Sidebar tools section -->
  <div class="sidebar sidebar-tools px-3 sidebar-tools-visible" data-dashboard-target="sidebarTools">
    <%= render "sites/dashboard/sidebar_tools", site: @site, guild: @guild, site_plant: @site_plant%>
  </div>
  <!-- Main dashboard content -->
  <div class="dashboard-main" data-dashboard-target="dashboardMain">
    <!-- Container for guilds view -->
    <div class="dashboard-guilds" data-dashboard-target="guildsView">
      <%= render "sites/dashboard/guilds", site: @site %>
    </div>
    <!-- Container for site plants view -->
    <div class="dashboard-site-plants" data-dashboard-target="sitePlantsView">
      <%= render "sites/dashboard/sitePlants", site: @site %>
    </div>
  </div>
  <!-- Sidebar info section -->
  <div class="sidebar sidebar-info px-3 sidebar-info-visible">
    <%= render "sites/dashboard/sidebar_info", site: @site, plants: @plants%>
  </div>
</div>
