<div class="dashboard" data-controller="dashboard">
  <%= render "sites/dashboard/sidebarleft", site: @site %>
  <div class="sidebar-tools px-3" data-dashboard-target="sidebarTools">
    <div class="sidebar-tools-buttons w-100">
      <h4>View</h4>
      <!-- BUTTONS -->
      <%= link_to "Guilds", "#", class: "btn-green-lg",
                    data: { action: "click->dashboard#switchView", view: "guilds" } %>
      <%= link_to "Site plants", "#", class: "btn-green-lg",
                    data: { action: "click->dashboard#switchView", view: "sitePlants" } %>
    </div>
    <!-- NEW GUILD FORM -->
    <div class="sidebar-tools-guild-form" data-dashboard-target="newGuildForm">
      <%= render "sites/dashboard/new_guild_form", site: @site, guild: @guild %>
    </div>
    <!-- NEW SITE PLANT FORM -->
    <div class="sidebar-tools-site-plants-form d-none" data-dashboard-target="newSitePlantForm">
      <%= render "sites/dashboard/new_sitePlant_form", site: @site, site_plant: @site_plant %>
    </div>
  </div>
  <!-- MAIN DASHBOARD-->
  <div class="dashboard-main">
    <div class="dashboard-guilds" data-dashboard-target="guildsView">
      <%= render "sites/dashboard/guilds", site: @site %>
    </div>
    <div class="dashboard-site-plants" data-dashboard-target="sitePlantsView">
      <%= render "sites/dashboard/sitePlants", site: @site %>
    </div>
  </div>
</div>
