<div class="container">
  <h1><%= @site.name %></h1>

  <p><%= @site.description %></p>

  <%= link_to "Edit site info", edit_site_path(@site) %>
  <%= link_to "Delete",
  site_path(@site),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
  <%= link_to "Back to sites", root_path %>

  <%# Guilds %>
  <h2>Add new guild</h2>
  <%= render "guilds/form", site: @site, guild: @guild %>

  <%# List of guilds  %>
  <ul>
    <% @site.guilds.each do |guild| %>
      <li><%= link_to guild.name, site_guild_path(guild) %></li>
    <% end %>
  </ul>
</div>
